<header>
    <div class="CajaLogo"><img  src="img/SendoLogoBlanco.png" class="SendoLogo" alt="Logo de Sendo Simplificado"></div>
    <nav>
        <div class="NavLinks">
            <a routerLink="/inicio">Cartera</a>
            <a routerLink="/historial">Historial</a>
            <a routerLink="/perfil">Perfil</a>
        </div>

        <div class="CajaUsuario">
            <small class="Usuario" id="usuario" *ngIf="user$ | async as user">
                👤 Hola, {{ user.displayName }}
            </small>
            <button (click)="logout()"><img src="img/LogoutIcon.png" class="Logout" alt="Cerrar Usuario"></button>
        </div>
    </nav>
</header>
