footer{
    box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-color: rgb(239, 239, 239);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    bottom: 0px;
    font-family: 'Inter', sans-serif;
}