<main>
    <section class="Filtro">
        <form>
            <input type="text" class="busqueda" id="busqueda" name="busqueda" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </form>

    </section>
    <section class="SeccionLista">
        <div class="ListaTransacciones">
            <button class="CajaTransaccion">
                <div class="arriba">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
                  <div class="abajo">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
            </button>
            <button class="CajaTransaccion">
                <div class="arriba">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
                  <div class="abajo">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
            </button>
            <button class="CajaTransaccion">
                <div class="arriba">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
                  <div class="abajo">
                    <p>Transaccion 1</p>
                    <p>-200€</p>
                  </div>
            </button>
            <button class="CajaTransaccion">
              <div class="arriba">
                  <p>Transaccion 1</p>
                  <p>-200€</p>
                </div>
                <div class="abajo">
                  <p>Transaccion 1</p>
                  <p>-200€</p>
                </div>
          </button>
        </div>
    </section>

</main>