<section>
    <h2>Tarjetas y Cuentas Vinculadas</h2>
    <div class="Lista">
        <div class="Caja">
            <div class="arriba">
                <p>Tarjeta 1</p>
                <p>Tipo **** 0356</p>
              </div>

        </div>
        <div class="Caja">
            <div class="arriba">
                <p>Tarjeta 2</p>
                <p>Tipo **** 0356</p>
            </div>

        </div>
        <div class="Caja">
            <div class="arriba">
                <p>Tarjeta 3</p>
                <p>Tipo **** 0356</p>
              </div>

        </div>
    </div>
</section>