<section>
    <h2>Actividad Reciente</h2>
    <div class="ListaTransacciones">
        <div class="CajaTransaccion">
            <div class="arriba">
                <p>Transaccion 1</p>
                <p>20€</p>
              </div>
              <p class="abajo">ikerberna0&#64;gmail.com</p>
        </div>
        <div class="CajaTransaccion">
            <div class="arriba">
                <p>Transaccion 1</p>
                <p>100€</p>
            </div>
            <p class="abajo">ikerberna0&#64;gmail.com</p>
        </div>
        <div class="CajaTransaccion">
            <div class="arriba">
                <p>Transaccion 1</p>
                <p>-200€</p>
              </div>
              <p class="abajo">ikerberna0&#64;gmail.com</p>
        </div>
    </div>
</section>